<details class="portfolio-accordion__item">
  <summary class="portfolio-accordion__trigger">
    <div class="portfolio-accordion__top">
      <span class="portfolio-accordion__num">01</span>
      <span class="portfolio-accordion__role">Sketch ugly, decide fast</span>
    </div>
  </summary>
  <div class="portfolio-accordion__panel">
    <p>Pretty mockups slow teams down. I'd rather make ten rough flows in a day and kill nine of them than spend a week protecting one beautiful idea.</p>
  </div>
</details>
